%h1 Produtos

%p= link_to 'Novo Produto', new_admin_produto_url

= will_paginate @produtos

%table
  %thead
    %tr
      %th Nome
      %th Preco
  %tbody
    - @produtos.each do |produto|
      %tr
        %td= produto.nome
        %th= number_to_currency produto.preco
        %td= link_to 'Editar', edit_admin_produto_url( produto )

= will_paginate @produtos
