%h1 Criar/Atualizar Produtos

= admin_form_for( @produto ) do |f|

  = f.text_field :nome
  = f.text_field :preco
  = f.text_area :descricao

  .actions
    %p= f.submit 'Enviar', :class => 'btn primary'

