!!! 5
%html
  %head
    %title Loja  - Administracao
    = stylesheet_link_tag "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    .topbar-wrapper{ :style => 'z-index: 5;'}
      .topbar
        .topbar-inner
          .container
            %h3= link_to 'Administracao', admin_produtos_url
    .container
      = render 'compartilhados/mostrar_flash'
      = yield



